@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #09102D;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  color: white;
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.m0 {
  margin: 0;
}

.w100 {
  width: 100%;
}

.container {
  display: grid;
  width: calc(100vw - 2rem);
  height: calc(100vh - 2rem);
  grid-template-rows: 60px 1fr;
  grid-template-columns: 25% 1fr;
  grid-template-areas:
  'header header'
  'sidebar main'
  ;
  grid-gap: 1rem;
  box-sizing: border-box;
  padding: 1rem;
}